.main-container {
	width: 80%;
	background-color: #fff;
	padding: 25px;
	padding-top: 10px;
	float: left;
	margin: auto;
}

.main-title {
	text-align: center;
	padding: 0;
	margin: 5px;
}

.form {
}

.kaiin-zone {
	overflow-y: auto;
}

.kaiin-list-form {
	margin: auto;
	text-align: center;
	padding-left: 10%;
}

.input-cell {
	display: block;
	width: 300px;
	height: 200px;
	margin: 25px;
	position: relative;
}

.input-cell:nth-of-type(odd) {
	float: left;
}

.input-cell:nth-of-type(even) {
	float: right;
}

.kaiin-image {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 10px;
	left: 70px;
}

.input-cell input {
	position: absolute;
	top: 180px;
	left: 70px;
}

.input-cell span {
	position: absolute;
	top: 180px;
	left: 90px;
}

.main .login-btn {
	margin-right: 10%;
}

.links {
	background-color: red;
	margin: 100px;
	width: 100%;
}

.top-link {
	float: right;
}
